#navbar__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	height: 80px;
	background-color: #000000;
	padding-left: 80px;
	padding-right: 80px;
}

#navbar__links-section {
	font-size: 16px;
}

.navbar__link-box {
	flex-direction: row;
	border: 1px white solid;
	padding: 3px 9px 5px;
	margin: 0 45px 0 55px;
}

.navbar__link {
	margin: 0 50px;
}
